.Teste_Pokeball {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 20px;
  }
.bottom_screen_box1_middle {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1200px) {
    .bottom_screen_box1_middle_details,
    .box_searchbar {
        width: 100%;
    }
    .bottom_screen_box1_middle {
        margin-top: 10px;
        margin-left: 0px;
    }
    .box_searchbar {
        width: 80%;
        margin-left: 10px;
    }
    .slot {
        align-self: center;
    }
    .Teste_Pokeball {
        margin-bottom: 5px;
    }
}
